<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
</head>
<body>

<h3>How is the book ASP.NET with C# by Vipul Prakashan?</h3>

{% if not voted %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">VOTE</button>
</form>
{% else %}
<p><b>You already voted: {{ choice }}</b></p>
{% endif %}

<br>

{% if good or satisfactory or bad %}
    <p>Good: {{ good }}%</p>
    <p>Satisfactory: {{ satisfactory }}%</p>
    <p>Bad: {{ bad }}%</p>
{% endif %}

</body>
</html>